__pycache__/test_split.cpython-310.pyc
__pycache__/test_split.cpython-312.pyc
.vscode/launch.json
.vscode/settings.json
Interactive-vscode.ipynb
SWCToolkit.code-workspace
swctoolkit/__pycache__/__init__.cpython-310.pyc
swctoolkit/__pycache__/__init__.cpython-312.pyc
swctoolkit/__pycache__/Swctoolkit.cpython-310.pyc
swctoolkit/__pycache__/Swctoolkit.cpython-312.pyc
